@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
h1 {
  padding: 20px 0;
}
li {
  list-style: none;
}
.row::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}
.map {
  &-area {
    position: relative;
    float: left;
    margin-right: 10px;
    #map {
      width: 600px;
      height: 600px;
      .area {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        padding: 10px;
        border: 2px solid #004c80;
        border-radius: 20px;
        background: #09f;
        color: #fff;
        font-size: 12px;
      }
      .twinkle {
        animation: twinkle 2s infinite;
      }
      @keyframes twinkle {
        50% {
          opacity: 0;
        }
      }
    }
    #reset {
      z-index: 100;
      position: absolute;
      top: 195px;
      right: 3px;
      width: 32px;
      height: 32px;
      border-radius: 3px;
      border: 0;
      outline: 0;
      background: #fff;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }
  &-contents {
    float: left;
    width: 288px;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
    .info {
      border: 1px solid #ccc;
      .title {
        padding: 5px 0 0 10px;
        height: 30px;
        background: #2fa2f1;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }
      .body {
        position: relative;
        padding: 10px;
        .desc {
          position: relative;
          b {
            padding-right: 5px;
          }
          a {
            color: #5085BB;
          }
        }
      }
    }
    .btn-group-avg {
      margin-top: 20px;
      button {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        border: 0;
        background-color: #fff;
        color: #fff;
        cursor: pointer;
        outline: 0;
        border: 2px solid #fff;
        &.active {
          border: 2px solid #000;
        }
        &.type1 {
          background-color: #de264c;
        }
        &.type2 {
          background-color: #ffc100;
        }
        &.type3 {
          background-color: #3b7302;
        }
        &.type4 {
          background-color: #2481c1;
        }
      }
    }
  }
}
